@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@500&family=Merriweather&family=Montserrat:wght@200;300&family=Oswald:wght@300&family=PT+Serif&family=Poppins:wght@400;500;600;700&family=Roboto&family=Signika+Negative:wght@600&display=swap');


.Button {
    width: auto;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 12px;
    font-size: 20px;
    border-radius: 8px;
    display: flex;
    order: 1;
    align-self: center;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.sinItems {
    margin-top: 50px;
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
}

.checkoutTitle {
    margin-top: 50px;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    width: 800px;
    background-color: #065666;
    padding: 10px;
    color: #fff;
    border-radius: 8px;
}

.checkoutTitle:hover{
    color: black;
}

.totalCart{
    margin-top: 50px;
    font-size: 35px;
    font-family: 'Montserrat', sans-serif;
}

.cleanCart{
    background-color: rgb(192, 10, 10);
    color: #fff;
    margin-top: 20px;
    margin-bottom: 20px;
}