@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@500&family=Merriweather&family=Montserrat:wght@200;300&family=Oswald:wght@300&family=PT+Serif&family=Poppins:wght@400;500;600;700&family=Roboto&family=Signika+Negative:wght@600&display=swap');

.card {
    padding: 30px;
    margin: 30px;
    font-size: 12px;
    border: 1px solid #e1e1e1;
    border-radius: 15px;
}

.Button {
    width: auto;
    padding: 12px;
    font-size: 20px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.card-description {
    font-size: 25px;
    color: #fff;
    display: flex;
    align-items: center;
    margin: 20px;
    font-family: 'Montserrat', sans-serif;
}

.card-title {
    padding-bottom: 10px;
}

.sinStock{
    font-size: 25px;
    color: lightblue;
    margin-top: 50px;
}

.finalizarCompra{
    padding: 10px;
    background-color: green;
    color: #fff;
    font-size: 20px;
    border-radius: 8px;
}

.finalizarCompra:hover{
    color: black;
}