.card {
    padding: 30px;
    margin: 30px;
    font-size: 12px;
    border: 1px solid #e1e1e1;
    border-radius: 15px;
}

.Button {
    width: auto;
    padding: 12px;
    font-size: 20px;
    border-radius: 8px;
    display: flex;
    order: 1;
    align-self: center;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.card-description {
    font-size: 25px;
    color: #fff;
    display: flex;
    align-items: center;
    margin: 20px;
}

.card-title {
    padding-bottom: 10px;
}