.ItemListContainer {
    font-size: 40px;
    display: flex;
    flex-direction: column;
    color: #065666;
    background-color: lightblue;
}

.loading {
    margin-top: 100px;
    color: #065666;
}

.loading h2{
    margin-top: 20px;
    font-size: 30px;
}





