@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@500&family=Merriweather&family=Montserrat:wght@200;300&family=Oswald:wght@300&family=PT+Serif&family=Poppins:wght@400;500;600;700&family=Roboto&family=Signika+Negative:wght@600&display=swap');

.ItemListContainer {
    font-size: 40px;
    display: flex;
    flex-direction: column;
}

.loading {
    margin-top: 100px;
    color: #065666;
    font-family: 'Montserrat', sans-serif;
}

.loading h2{
    margin-top: 20px;
    font-size: 30px;
}





