@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@500&family=Merriweather&family=Oswald:wght@300&family=PT+Serif&family=Poppins:wght@400;500;600;700&family=Roboto&family=Signika+Negative:wght@600&display=swap');

div .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    margin: 10px;
    box-sizing: border-box;
    border-style: solid;
    border-color: #065666;
    background-color: #065666;
    font-family: 'Commissioner', sans-serif;
    padding: 20px;
}

.card-img {
    height: 300px;
    width: 250px;
}

.card-title {
    height: 40px;
    font-size: 25px;
    color: #fff;
    display: flex;
    align-items: center;
}

.card-price {
    color: #fff;
    font-size: 25px;
    margin: 20px;
}

.buttonCard {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    box-sizing: border-box;
    border: solid 1px #fff;
    border-radius: 5px;
    padding: 10px;
}

.buttonCard:hover {
    color: black;
}