@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@500&family=Merriweather&family=Oswald:wght@300&family=PT+Serif&family=Poppins:wght@400;500;600;700&family=Roboto&family=Signika+Negative:wght@600&display=swap');

div .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    margin: 10px;
    box-sizing: border-box;
    border-style: solid;
    border-color: #065666;
    background-color: #065666;
    font-family: 'Commissioner', sans-serif;
}

.card img {
    height: 350px;
    width: 100%;
    border: solid 6px #065666;
}

.card-title {
    height: 50px;
    font-size: 25px;
    color: #fff;
}

.card-price {
    color: #fff;
    font-size: 25px;
}