.generandoOrden{
    margin-top: 100px;
    color: #065666;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
}

.generarOrden{
    margin-top: 50px;
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    border-radius: 8px;
    background-color: #065666;
    padding: 10px;
    color: #fff;
}

.checkoutTitle{
    margin: auto;
    margin-top: 40px;
    background-color: lightblue;
    color: #065666;
}

.formulario{
   background-color: lightblue;
   display: flex;
   flex-direction: column;
   padding: 20px;
   justify-content: center;
   align-items: center;
}

.formulario input{
    margin: 20px;
    height: 50px;
    width: 400px;
    border-radius: 10px;
    text-align: center;
}