@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@500&family=Merriweather&family=Oswald:wght@300&family=PT+Serif&family=Poppins:wght@400;500;600;700&family=Roboto&family=Signika+Negative:wght@600&display=swap');

nav {
    background-color: #090953;
}

.logo {
    margin: 10px;
    color: #fff;
    font-size: 40px;
    font-family: 'Commissioner', sans-serif;
}

.logo:hover {
    color: #fff;
}

.seccionesNav {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-family: 'Commissioner', sans-serif;
    margin: -10px;
}

.seccionesNav:hover {
    color: #fff;
}