.Counter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    margin: auto;
}

.Button {
    margin: 0 30px;
    width: auto;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #065666;
    cursor: pointer;
    font-size: larger;
}

.Number {
    font-size: 20px;
    padding: 20px;
    margin: 0;
    order: 1;
    color: #fff;
}

.Controls {
    display: flex;
    justify-content: center;
}